<section class="price">
	<div class="container price__container">
		<h3 class="price__title">Стоимость установки Коробочной версии 1С-Битрикс24</h3>
		<div class="price__row">
			<div class="price__column price__column-left">
				<div class="price__item">
					<img src="./img/ruble.svg" class="image price__icon" width="48" height="48" alt="Иконка" />
					<h4 class="price__subtitle">Цена</h4>
					<h4 class="price__subtitle price__subtitle-last">от 10 000 ₽</h4>
				</div>
				<div class="price__item">
					<img src="./img/calendar.svg" class="image price__icon" width="48" height="48" alt="Иконка" />
					<h4 class="price__subtitle">Срок</h4>
					<h4 class="price__subtitle price__subtitle-last">от 2 дней</h4>
				</div>
			</div>
			<div class="price__column price__column-right">
				<p class="price__descr">
					При покупке лицензии 1С-Битрикс24 Корпоративный портал в компании LUCKRU возможна бесплатная
					установка на сервер клиента. В иных случаях стоимость зависит от сложности реализации задачи.
				</p>
				<a href="#" class="btn-reset price__button">Уточнить стоимость</a>
			</div>
		</div>
	</div>
</section>
